<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>H.E.R.O.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <!-- H.E.R.O. header -->
        <div class="row justify-content-center" id="header">
            <p>
                <span class="letter">H</span>ero <span class="letter">E</span>ducation and <span class="letter">R</span>elationship
                <span class="letter">O</span>rganization
            </p>
        </div>
        <div class="row full-height">
            <!-- menuBar -->
            <div class="col-md-2" id="menuBar">
                <div>
                    <a href="sightings" class="col-12 btn btn-info menuButton">Sightings</a>
                </div>
                <div>
                    <a href="supes" class="col-12 btn btn-info menuButton">Supes</a>
                </div>
                <div>
                    <a href="abilities" class="col-12 btn btn-info menuButton">Abilities</a>
                </div>
                <div>
                    <a href="orgs" class="col-12 btn btn-info menuButton">Teams</a>
                </div>
                <div>
                    <a href="locations" class="col-12 btn btn-info menuButton">Locations</a>
                </div>
            </div>
            <!-- contentArea -->
            <div class="col-md-10">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <form action="editSupe" method="POST">
                            <div class="form-group row">
                                <label for="name" class="col-3 col-form-label">Name: </label>
                                <div class="col-9">
                                    <input type="text" name="name" id="name" class="form-control" th:value="${supe.name}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-3 col-form-label">Description:
                                </label>
                                <div class="col-9">
                                    <input type="text" name="description" id="description" class="form-control" th:value="${supe.description}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="abilities" class="col-3 col-form-label">Abilities:
                                </label>
                                <div class="col-9">
                                    <select name="abilityId" id="abilityId" class="form-control" multiple>
                                        <option th:each="ability : ${abilities}"
                                            th:value="${ability.abilityId}"
                                            th:text="${ability.name}">
                                            Ability Name
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <input type="hidden" name="supeId" th:value="${supe.supeId}" />
                                <button type="submit" class="btn btn-info">Save
                                    changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>